dit-librairy-api.francecentral.cloudapp.azure.com {

    # Service Utilisateurs
    handle /api/users* {
        reverse_proxy localhost:8002
    }

    # Auth (login, refresh, token)
    handle /api/auth* {
        reverse_proxy localhost:8002
    }

    # Service Livres
    handle /api/livres* {
        reverse_proxy localhost:8003
    }

    # Service Emprunts
    handle /api/emprunts* {
        reverse_proxy localhost:8008
    }

    # Service Recommandation
    handle /recommendations* {
        reverse_proxy localhost:8004
    }
    handle /popular* {
        reverse_proxy localhost:8004
    }
    handle /train* {
        reverse_proxy localhost:8004
    }
    handle /metrics* {
        reverse_proxy localhost:8004
    }
    handle /metric* {
        reverse_proxy localhost:8004
    }
    handle /livre_similaire* {
        reverse_proxy localhost:8004
    }
    handle /health {
        reverse_proxy localhost:8004
    }

    # Docs Livres & Emprunts
    handle /api/schema* {
        reverse_proxy localhost:8008
    }

    # MinIO — couvertures livres
    handle /couvertures* {
        reverse_proxy localhost:9090
    }

    # Frontend (catch-all)
    handle {
        reverse_proxy localhost:3000
    }

    encode gzip
    log {
        output file /var/log/caddy/access.log
    }
}
