# Variables d'environnement — Bibliothèque DIT

# PostgreSQL/database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
DB_HOST=localhost
DB_PORT=25432
DB_NAME=emprunts_db

# Django
DEBUG=False

# JWT
JWT_SECRET_KEY=a-string-secret-at-least-256-bits-long
JWT_ALGORITHM=HS256
JWT_COOKIE_NAME=access_token


# URLs des services (Microservices)
SERVICE_LIVRES_URL=http://livres:8001
SERVICE_UTILISATEURS_URL=http://utilisateurs:8002



# access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwidXNlcl9pZCI6IjAwMDEiLCJ1c2VyX3JvbGUiOiJzdHVkZW50IiwidXNlcl9lbWFpbCI6ImpvaG4uZG9lQGNnbC5kZXYiLCJpc19hY3RpdmUiOnRydWUsImlhdCI6MTUxNjIzOTAyMiwiZXhwIjoxNzgwOTYwNDg0fQ.3F-VsntKXg17zcmd3IDfzvoFmeSr7cGsA1dLKKctFLo