# Variables d'environnement — Bibliothèque DIT
# Copiez ce fichier en .env et adaptez les valeurs

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
DB_HOST=db
DB_PORT=5432
DB_NAME=emprunts_db

# Django
JWT_SECRET_KEY=votre-cle-secrete-tres-longue-ici
DEBUG=False

# URLs des services (pour docker compose)
SERVICE_LIVRES_URL=http://livres:8001
SERVICE_UTILISATEURS_URL=http://utilisateurs:8002
SERVICE_EMPRUNTS_URL=http://emprunts:8003


# access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwidXNlcl9pZCI6IjAwMDEiLCJ1c2VyX3JvbGUiOiJzdHVkZW50IiwidXNlcl9lbWFpbCI6InRlc3RAZ21haWwuY29tIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0._--4JG6ohHkUxV1cCZcl6VQIWfOuAyo3xLWcr6-JQDA