# .dockerignore


#  Fichiers sensibles
.env

# Environnements virtuels
env/
venv/

#  Fichiers compilés Python
__pycache__/
*.pyc
*.pyo

#  Git
.git/
.gitignore          #  inutile dans Docker

# Base de données locale
*.sqlite3

# Fichiers statiques collectés
staticfiles/

# Docker lui-même
Dockerfile
docker-compose.yml
.dockerignore

# Editeur de code
.vscode/
.idea/

# Documentation
README.md
*.md

# fichier send_email.py
send_email.py 