# ─── App ──────────────────────────────────────────────────────────────────────
VITE_APP_URL=http://localhost:3000
VITE_APP_NAME=DIT Library

# ─── Services API (dev : proxy Vite, prod : URLs directes) ───────────────────
VITE_USERS_API_URL=http://localhost:8001
VITE_BOOKS_API_URL=http://localhost:8002
VITE_LOANS_API_URL=http://localhost:8003
VITE_RECOMMENDATION_API_URL=http://localhost:8004

# ─── Services API prod ────────────────────────────────────────────────────────
VITE_USERS_API_URL_PROD=http://users-api:8000
VITE_BOOKS_API_URL_PROD=http://books-api:8000
VITE_LOANS_API_URL_PROD=http://loans-api:8000
VITE_RECOMMENDATION_API_URL_PROD=http://recommendation-api:8000
